* {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  box-sizing: border-box;
}
#container {
  height: 100%;
  background-color: orange;
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
  width: 100%;
  padding: 9% 13% 9% 13%;
  margin: auto;
}
.quotesContainer {
  height: 100%;
  text-align: center;
  background-color: white;
  padding: 10% 5% 5%;
  font-size: 1rem;
}

.author {
  text-align: right;
  font-size: 100%;
  font-style: italic;
  font-weight: bold;
  margin-right: 17%;
}
.box {
  background-color: white;
  height: 3em;
  width: 50%;
  margin: 0.5% auto;
}
.buttons {
  margin: 4% 0% 0% 0%;
  padding: 1% 0%;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.buttons1 {
  display: flex;
  justify-content: space-between;
  justify-items: left;
}

.buttons .click-me {
  padding: 1% 1%;
  font-size: 1em;
  width: 120%;
  height: 100%;
}
.buttons button {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  background-color: orange;
  border: 1px solid orange;
  margin: 3% 2% 0% 1%;
  cursor: pointer;
  text-align: center;
}
.buttons1 button:nth-child(2) {
  padding-right: 0.5rem;
}
i {
  padding: 0.8rem;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}
